*/obj/
*/bin/
*/data/output
*/stats/

*/tmp.err
*/tmp.log
*/*.tmp
*~

raw-times
results
*_results
*_results.zip

*/maketime.txt

kmeans/correct_output
kmeans/src_before
kmeans/data
kmeans_??/data
fft/orig_src
blackscholes/orig_src
sobel*/data/sobel

jmeint_??/data/input/jmeint*.data

common/img-big-8bit/1M
common/img-big-8bit/10M
common/img-big-16bit/1M
common/img-big-16bit/10M
